body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
   
    
.navbar-nav{
    font-size:20px;
    margin-left: auto;
    font-weight: 500;
    padding: 0px; 
    
    
  }
  #slide{
    filter: brightness(90%);
    
  }
  .navbar-nav  li a{
    padding: 25px;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    
  }
 
  .container-fluid .navbar-brand{
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(214, 146, 141); 
    /* background-color: blue; */
    margin-left: 140px;
                 
  }
  #logo{
   width: 80px;
   height: auto;
   font-family: 'Tangerine', serif;
  color: #463737;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
  text-decoration: none;
  
  }
 /* {% comment %} cart section  */

.sub-title{
  margin: 50px 0 20px ;
  font-size: 25px;
  font-weight: 500;
  color: rgb(10, 8, 8);
}
.exclusive{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-gap: 30px;
}
.exclusive div img{
  width: 100%;
  border-radius: 15px;
  filter:brightness(50%);
  transition: 0.5s;
}
.exclusive div img:hover{
  transform: scale(1.1);


}
.exclusive div{
  position: relative;
}
.exclusive div span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}
.exclusive div span h3{
  font-weight: 700;
}
/* {% comment %} trending places {% endcomment %} */
.sub-title{
  margin: 50px 0px 20px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(10, 8, 8);
  
}

.trending{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 30px;
  position: relative;
}
.trending div img{
  
  border-radius: 15px;
  filter: brightness(80%);
  transition: 0.5s;
}
.trending div h3{
  font-family: 'Tangerine', serif;
  /* color: rgb(255, 255, 255); */
  font-size: 45px;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: 600;

}
.trending div{
  position: relative;
}
.trending div span{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: rgb(255, 255, 255);
  
}
.cta{
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent),url(image/login\ back.jpg);
  color: white;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  
}
.cta h3{
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.btn-cta{
  background: #ff5361;
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}
.trending .tag img{
  position: absolute;
  top: 7px;
  right: 2px;
  height: 83px;
  width: auto;
  z-index: 1;
  rotate: -40deg;
  filter: brightness(110%);
}
.trending .off{
  position: absolute;
  bottom: -47px;
  left: 65px;
  font-weight: 700;
  color: #c51e26;
}
.trending .img img{
  position: absolute;
  filter: brightness(110%);
  height:34px ;
  width: auto;
  left: 17px;
  bottom: -40px;
}

/* {% comment %} swiper {% endcomment %} */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
  margin: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  
}
.trip h1{
  text-align: center;
  padding: 90px;
  font-weight: 600;
  font-family: Rubik Maps;
  letter-spacing: 6px;

}
.trip h1 span{
  color: #af2929;
  font-size: 44px;
}

.trip p{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

 /* {% comment %} Rigister Form  {% endcomment %}
{% comment %} /* .container-2 {
text-align: center;
padding: 50px;
} */  

.popup {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.7);
padding: 450px;
z-index: 1;
min-height: 100vh;
width: 100%;
transition: top 0ms  ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 20,s ease-in-out 0ms;
}


/* .popup-content {
text-align: center;
justify-content: center;
width: 300px;
height: 400px;
background: white;
} */
.popup-content {
  margin: 32px;
  padding: 24px 32px;
  border-radius: 8px;
  background: white;
  width: 580px;
  height: auto;
  align-items: center;
  justify-content: center;
  
}
.close {
position: absolute;
top: 310px; right: 30px;
font-size: 50px;
color: white;
cursor: pointer;
}

.close:hover {
color: #ff0000;
}
.chech-box{
margin: 30px 10px 30px 0;
}
span{
color: rgb(68, 75, 67);
font-size: 15px;
cursor: pointer;
}

label {
display: block;
margin-bottom: 8px;
} 

/* input {
width: 100%;
padding: 8px;
margin-bottom: 20px;
} */
.input-field{
width: 100%;
  padding: 10px 0;
  margin: 5px 0px;
  border: 0;
  border-bottom: 1px solid#777;
  outline: none;
}

.submit-btn{
  width: 65%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f,#ffad06);
  outline: none;
  border: 0;
  border-radius: 30px;
  }
.register-form-container form h3{
font-size: 34px;
color: #444;
text-transform: uppercase;
text-align: center;
padding: 16px 0;
}


  
/* {% comment %} footer {% endcomment %} */
.footer{
  background-color: #24262b;
  padding: 70px;
}
ul{
  list-style: none;
  transform: 0.5s;
}
.container-1{
  max-width: 1180px;
  margin: auto;
  
}
.footer .container-1 .row{
  display: flex;
  flex-wrap: wrap;
}
.f-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.f-col{
  width: 25%;
  padding: 0 15px;
}

ul li a{
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-weight: 500;
  
}
footer .f-col{
  width: 25%;
  padding: 0 15px;
}
.f-col h4{
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
  padding-left: 28px;
}
.f-col h4::before{
  content: '';
  position: absolute;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  padding-left: 28px;
}
.f-col ul li :hover{
  color: white;
  text-transform: capitalize;
  padding: 17px;
}

.f-col .social a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
}
.f-col .social a:hover{
  background-color: #2ceebd;
}
