<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tourism</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="C:\Users\shank\Downloads\bootstrap-5.0.2-dist\bootstrap-5.0.2-dist\css\bootstrap.min.css.map">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');"> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
   
  <body>
    <nav class="navbar navbar-expand-sm  " >
      <div class="container-fluid" style="position: sticky; ">
        <img class="navbar-brand " id="logo" src="{%static 'image/logo.jpg'%}" ><a href="#" id="logo" >pbn tourism</a></img>
        <button class="navbar-toggler btn border none " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cart">Destination</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Offers</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" id="li" href="#">About</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>


    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" colour="white" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active " data-bs-interval="4000">
          <img src="{% static 'image/slide 2.png' %}" class="d-block w-100" height="600vh" >
          <div class="carousel-caption d-none d-md-block">
            <h2></h2>
            <p style="font-size: 26px;  font-weight: 600; color: white;">“Jobs fill your pocket, but adventures fill your soul.”</p>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="4000">
          <img src="{%static 'image/slide1.png'%}" class="d-block w-100" height="600vh" id="slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p style="font-size: 26px;  font-weight: 600; color: rgb(26, 11, 11) ; ">“Take only memories, leave only footprints.”</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{%static 'image/slide 3.png'%}" class="d-block w-100 " height="600vh" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p style="font-size: 30px;  font-weight: 600; color: rgb(0, 0, 0);">“The goal is to die with memories not dreams.”</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{%static 'image/slide 4.png'%}" class="d-block w-100 " height="600vh" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p style="font-size: 30px;  font-weight: 600; color: rgb(0, 0, 0);">“The goal is to die with memories not dreams.”</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{%static 'image/slide 5.png'%}" class="d-block w-100 " height="600vh" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p style="font-size: 30px;  font-weight: 600; color: rgb(0, 0, 0);">“The goal is to die with memories not dreams.”</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- cart  section-->

    <div class="container">
      <h2 class="sub-title" id="cart">Exclusive</h2>
      <div class="exclusive">
        <div>
          <img src="{%static 'image/india.jpg'%}" width="400px" height="250px" >
          <span>
            <h3>India</h3>
            <p>Starts @ $300</p>
          </span>
        </div>
        <div>
          <img src="{%static 'image/canada.jpg'%}" width="400px" height="250px">
          <span>
            <h3>Canada</h3>
            <p>Starts @ $500 </p>
          </span>
        </div>
        <div>
          <img src="{%static 'image/China.jpeg'%}" width="400px" height="250px">
          <span>
            <h3>China</h3>
            <p>Starts @ $300 </p>
          </span>
        </div>
        <div>
          <img src="{%static 'image/new york.jpg'%}" width="400px" height="250px">
          <span>
            <h3>New York</h3>
            <p>Starts @ $250</p>
          </span>
        </div>
        <div>
          <img src="{%static 'image/ireland.jpg'%}" width="400px" height="250px">
          <span>
            <h3>Ireland</h3>
            <p>Starts @ $330</p>
          </span>
        </div>
        <div>
          <img src="{%static 'image/paris1.jpg'%}"width="400px" height="250px">
          <span>
            <h3>Paris</h3>
            <p>Starts @ $430</p>
          </span>
        </div>
        
      </div>

                      <!-- swiper section -->
       <section class="trip">
        <div class="title">
          <h1>Plan  <span>Your</span> <br/>
            Trip With US</h1>
            <p>Experience The Famous National Park- Phang Nga Bay on a Luxury Cruise Equipped with a "Full Bar, Day Beds, DJ and Dance Floor". 
              Visit Maldives and Explore the Sea Caves of Sea house.Enjoy a beautiful Sunset Ocean Panorama While Having Dinner Onboard</p>
        </div>
      {% comment %} <div class="swiper mySwiper"> 
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="{% static 'image/swiper/1.jpg'%}" />
          </div>
          <div class="swiper-slide  lio">
            <img src="{%static 'image/swiper/2.jpg'%}" />
          </div>
          <div class="swiper-slide">
            <img src="{%static 'image/swiper/3.jpg'%}" />
          </div>
          <div class="swiper-slide">
            <img src="{%static 'image/swiper/4.jpg'%}" />
          </div>
          <div class="swiper-slide">
            <img src="{%static 'image/swiper/5.jpg'%}" />
          </div>
          <div class="swiper-slide">
            <img src="{%static 'image/swiper/6.jpg'%}" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>     {%endcomment%}

                                                    <!- trending places ->

      <div class="container1">
        <h2 class="sub-title">Trending Places</h2>
        <div class="trending">
          <div>
            <div class="tag"><img src="social media/price-tag.png"  alt=""></div>
            <img src="{%static 'image/trending/dubai.jpg' %}" width="250px" height="350px">
            <div class="img"><img src="social media/discount.png"  alt=""></div>
            <h4 class="off">Min.60% Off</h4>
            <span>
            <h3>Dubai</h3>
            </span>
          </div>
          <div>
            <img src="{%static 'image/trending/maldives.jpg'%}" width="250px" height="350px" >
            <div class="img"><img src="social media/discount.png"  alt=""></div>
            <h4 class="off">Min.30% Off</h4>
            
            <span>
            <h3>Maldives</h3>
            </span>
          </div>
          <div>
            <img src="{%static 'image/trending/india.jpg'%}" width="250px" height="350px">
            <div class="img"><img src="social media/discount.png"  alt=""></div>
            <h4 class="off">Min.30% Off</h4>
            <span>
            <h3>India</h3>
            </span>
          </div>
          <div>
            <img src="{%static 'image/trending/sweeden.jpg'%}" width="250px" height="350px">
            <div class="img"><img src="social media/discount.png"  alt=""></div>
            <h4 class="off">Min.40% Off</h4>
            <span>
            <h3>Sweeden</h3>
            </span>
          </div>
        </div>
      </div>


      <!--CTA-->

      <div class="cta">
        <h3>Travel<br> your money will return,<br> your time won’t</h3>
        <p>We often tend to forget this ourselves, but time is actually one of the most precious possessions we have in this world. After all, the time that passes will never return. The following travel proverb also fits nicely</p>
        <a href="#popup"class="btn-cta" id="loginBtn">Rigister Now</a>
      </div>
    </div>
      <!-- Rigister Form -->
      
    
        <div id="loginPopup" class="popup">
            <div class="popup-content">
                <span class="close" id="closeBtn">&times;</span>
                
                <form id="loginForm" class="form-register">
                  {% csrf_token %}
                  <h3>Login Form</h3>
                  <input type="text" class="input-field" placeholder="User name" required name='username'>
                  <input type="email" class="input-field" placeholder="Email Id" required name='email'>
                  <input type="password" class="input-field" placeholder="Enter Password" required name='password'>
                  <input type="password" class="input-field" placeholder="Confirm Password" required name='confirmpassword'>
                  <input type="checkbox" class="chech-box" ><span>I agree to the terms & conditions</span>
                  <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>
        </div>
    </div>
          <!-- Footer -->
    <footer class="footer" >
      <div class="container-1">
        <div class="row">
          <div class="f-col">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About-us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Affiliate Program</a></li>
            </ul>
          </div>
          <div class="f-col">
            <h4>Get Help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Return</a></li>
              <li><a href="#">Trip Status</a></li>
              <li><a href="#">Payment Option</a></li>
            </ul>
          </div>
          <div class="f-col">
            <h4>Booking Hotel</h4>
            <ul>
              <li><a href="#">Hotel Services</a></li>
              <li><a href="#">Food </a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Affiliate Program</a></li>
            </ul>
          </div>
          <div class="f-col">
            <h4>Follow Us</h4>
            <div class="social">
              <a href="https://www.facebook.com/"><img src="{%static 'image/social media/facebook.svg'%}" ></a>
              <a href=""><img src="{%static 'image/social media/instagram.svg'%}"></a>
              <a href=""><img src="{%static 'image/social media/x-twitter.svg'%}"></a>
              <a href=""><img src="{%static 'image/social media/youtube.svg'%}"></a>
              
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    document.getElementById("loginBtn").onclick = function () {
    document.getElementById("loginPopup").style.display = "block";
};

document.getElementById("closeBtn").onclick = function () {
    document.getElementById("loginPopup").style.display = "none";
};

window.onclick = function (event) {
    var popup = document.getElementById("loginPopup");
    if (event.target === popup) {
        popup.style.display = "none";
    }
};

function submitForm() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    // Add your login logic here
    // For demonstration purposes, just displaying the input values
    alert("Username: " + username + "\nPassword: " + password);

    // Close the popup after submitting the form
    document.getElementById("loginPopup").style.display = "none";
}


var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      loop: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 40,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  

  
  </script>




    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>